html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* ====Topografy==== */

header{
  text-align: center;
}
.header-img{
  width: 70%;
}
h2 {
  font-size: 2.45rem;
  margin: 2rem 0;
  color: rgb(112, 112, 112);
}
h3{
    font-weight: 100;
    font-size: 2rem;
}
h4{
    font-size: 2rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icons a{
    font-size: 1.2rem;
}
i{
    padding: 0.5rem;
    color: black;
}

.wraper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* =====Navbar==== */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  padding: 0;
}
.desktop-menu {
  display: flex;
  background-color: #eee8d8;
  padding: 0.3rem;
  border-radius: 1rem;
}
.mobile-menu {
  display: none;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 1rem 1.3rem;
  font-size: 0.9rem;
}
.hamburger-container {
  display: none;
  flex-direction: column;
  width: 80vw;
}
.hamburger-icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.hamburger-icon span {
  display: none;
  width: 30px;
  height: 5px;
  margin: 3px 0;
  background-color: black;
}
.fade {
  animation-name: fade;
  animation-duration: 1.7s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@media screen and (max-width: 969px) {
  .hamburger-container {
    display: flex;
  
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-menu li {
    border-bottom: 1px solid black;
    width: 10rem;
    text-align: center;
    padding: 1rem;
  }
  .hamburger-icon span {
    display: block;
  }
  .hidden {
    display: none;
  }
  .header-img{
    width: 600px;
  }
}

/* ====Splash==== */
.splash {
  width: 80%;
  text-align: center;
  margin-top: 3rem;
}
.video{
    width: 100%;
    height: 500px;
}

/* ====About==== */

.about {
  width: 100vw;
  background-color: #bebebecc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.container {
  width: 90%;
  height: 866px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.item{
    height: 540px;
}

.text {
  height: 866px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.text-content {
  width: 550px;
}
.image {
  flex: 1;
  height: 866px;
}
.text p{
    line-height: 2.2rem;
    letter-spacing: 1.2px;
    padding: 1rem 0;
}
.item{
    height: 540px;
}
@media screen and (max-width: 1269px){
    .container{
        flex-direction: column;
        height: auto;
    }
    .text-content{
        width: auto;
        padding: 2rem;
    }
    .image,
    .text{
        max-width: 700px;
        height: auto;
    }
    h1{
        font-size: 2rem;
    }
}

/* Contact */
.form{
    width: 100vw;
    height: auto;
    background-color: #eee8d8;
}
.contact {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact button {
    width: 100px;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 14px #ccc5c5;
    background-color: white;
    cursor: pointer;
    margin-bottom: 1rem;
    color: rgb(134, 130, 130);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    width:600px;
    font-size: 1.2rem;
    margin: 0.6rem 0;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 9px #ccc5c5;
  }
  
  @media screen and (max-width: 769px) {
    .contact h4 {
      font-size: 1rem;
    }
    input,
    textarea {
      width: 300px;
      border: 1px solid #ccc5c5;
      box-shadow: none;
    }
    .contact button {
      box-shadow: none;
      border: 1px solid #ccc5c5;
    }
  }


/* ====Footer==== */
footer{
    text-align: center;
}
footer p{
    padding: 0.6rem;
    margin: 1rem;
}